ul > li {
    display: list-item;
}

li > ul {
    display: none;
}

ul:hover > li > ul {
    display: block;
    background-color: #fff; 
}

ul {
    font-size: 12px;
    position: relative;
    z-index: 1000;
    /*list-style: none outside none;*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}


ul li.list {
    float: left;
    color: #FF0000;
}

ul li.list a {
   display: block;
    padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
}

ul li.list a:hover {
  /*color: #c00;*/
	background-color: #fff; 
}


/*ul li.list.last a:hover ul li {

     display:block;
}*/

ul li.list.last ul {
        width: 49px;
    }

/*ul li.list.last {
   list-style-image:url("dropdown.png");
    }*/

ul li.list.last{
    width: 49px;
    }



body {
    /*background: black;*/
    padding: 0;
    margin: 0;   
    color: #fff;
}

#sitewrap {
    width:100%;
    float: left;
    margin: 0 0 3em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
    /*width: 300px;*/
}

#wrap{
    float: left;
    height: 30px;
    width: 90%;
    letter-spacing: -0.2px;
    /*width: 300px;*/
    z-index: 1000;
   /* background: red;
    margin: 0 0 100px 0;*/
    margin: 0 0 3em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
}
/*#img {
     background: url(dropdown.png);
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 15px; 
    }
}

div.image {
   content:url('dropdown.png');
}*/
